{%for comment in comments%}
<div id ="comment_content" class="comment">
    <a  class="author">{{comment.user_comment.first_name| capfirst}} {{comment.user_comment.last_name| capfirst}}</a>
    <div class="metadata">
      <span class="date">{{comment.created_at|timesince}} ago</span>
    </div>
    <p class="text">{{comment.comment_content}}</p>

  {%for reply in replies%}
    {%if reply.reply_to.id == comment.id%}
    <div class="comments">
      <div class="comment">
          <a class="author">{{reply.user_reply.first_name}} {{reply.user_reply.last_name}}</a>
          <div class="metadata">
            <span class="date">{{reply.created_at|timesince}} ago</span>
          </div>
          <p class="text">
            {{reply.reply_content}}
          </p>
      </div>
    {%endif%}
  {%endfor%}
  <form class="reply-form" id="{{comment.id}}" class="ui reply form">
    {% csrf_token %}
    <div class="field">
      <textarea rows="1" name="reply"></textarea>
      <input type="hidden" name="comment_id" value="{{comment.id}}">
    </div>
    <input type='submit' value='Add Reply' class="ui small button">
  </form>
  <div class="error-container error-container{{comment.id}}"></div>
</div>
{%endfor%}
</div>